<h1>User</h1>
<p>Your first name : <%= @this_user.first_name %></p>
<p>Your last name : <%= @this_user.last_name %></p>
<p>Your email : <%= @this_user.email %></p>
<%= link_to "Edit", edit_user_registration_path(@this_user) %><br />
